.modal {
  display: none;
  top: 0;
  right: 0;
  left: 0;
  width: 320px;
  border: 1px solid $modal-white;
  background-color: $white;
  box-shadow: 0 5px 10px rgba($black, 0.25);
  padding-top: 29px;
  padding-bottom: 46px;
  position: fixed;
  z-index: 200;
  margin: 0 auto;
  transform: translate(0, 23%);
  transition: ease 0.3s;

  @media (min-width: $tablet-width) {
    width: 566px;
    padding-top: 38px;
  }

  &--opened {
    display: block;
  }
}

.modal__cart-title {
  width: 150px;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    width: 381px;
    text-align: center;
    font-size: 30px;
    line-height: 57px;
  }
}

.modal__cart-desc {
  width: 146px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    width: 152px;
    font-size: 17px;
    margin-bottom: 36px;
  }
}

.modal__cart-form {
  display: block;
}

.modal__cart-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 25px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 0 122px;
  }
}

.modal__cart-item {
  display: block;
  width: 82px;
  height: 52px;
}

.modal__cart-label {
  display: flex;
  position: relative;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 16px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal__cart-input + .modal__cart-label::before {
  content: "";
  display: block;
  position: absolute;
  width: 76px;
  height: 47px;
  top: -18px;
  left: 0;
  border: 2px solid rgba($gray, 0.1);

  @media (min-width: $tablet-width) {
    width: 108px;
    left: -15px;
  }
}

.modal__cart-input:checked + .modal__cart-label::after {
  content: "";
  display: block;
  position: absolute;
  width: 76px;
  height: 47px;
  top: -18px;
  left: 0;
  border: 2px solid $lightnes-green;

  @media (min-width: $tablet-width) {
    width: 109px;
    left: -15px;
  }
}

.modal__cart-input:hover + .modal__cart-label::before {
  border: 2px solid rgba($gray, 0.3);
}

.modal__cart-input:focus + .modal__cart-label::before {
  border: 2px solid $lightnes-green;
}

.modal__cart-input:active + .modal__cart-label::before {
  border: 2px solid $lightnes-green;
}

.modal__cart-button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: $white;
  background-color: $lightnes-green;
  border: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 350px;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $darker-turquoise;
  }
}
